<!-- breadcrumbs -->
<% breadcrumb :especialidades %>


        <div class="row">
            <div class="w-100">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Listado especialidades</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Fecha creación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%= render @especialidades %>
                            </tbody>
                        </table>
                        <hr>
                        <%= link_to "Nueva especialidad", new_especialidad_path, remote: true, class: "btn btn-primary" %>
                        <button type="button" name="prueba" id="prueba">Adicionar</button>
                        <input type="text" name="a" value="" id="esp">
                        <button type="button" name="enviar" id="enviar">enviar</button>

                    </div>

                </div>


            </div>
        </div>
        <div id="new-especialidad">

        </div>

<<<<<<< HEAD
    </div>

<% content_for :javascript do %>
  <script>
    $("#prueba").click(function () {
      $("#esp").show();
    });

    $("#enviar").click(function () {
      $.ajax({
        type: "POST",
        url: "especialidades.js",
        data: {especialidad: {nombre: "algo"}},
        success: function(data)
        {
          alert("Respondio");
        }
      });
    });


  </script>

<% end %>
=======
        <%= link_to "Nueva especialidad", new_especialidad_path, remote: true, class: "btn btn-primary" %>

>>>>>>> a9227e2122c8e1f9a627474b7accbfbb4365b440
