<div class = "container">

<div class="row">

<div class="col-12">
<h1 class="">Listado especialidades</h1>
<table class="table">
<thead class="thead-dark">
<tr>
<th>Codigo</th>
<th>Nombre</th>
</tr>
</thead>
<tbody>
<% @especialidades.each do |especialidad| %> 
<tr> 
<td><%= especialidad.id %></td> 
<td><%= especialidad.nombre %></td>
</tr>
<% end %> 
</tbody>
</table>

</div>

</div>

</div>