<div class = "container">
<h1>NUEVA ESPECIALIDAD</h1>
<%= simple_form_for @especialidad do |f| %>
<div class = "row">
<%= f.input :nombre, class: "form-control" %>
<%= f.button :submit, class: "btn btn-primary" %>
</div>
<% end %>

</div>