<div class = "container">
            <div class="ibox mt-4 col-md-4 mx-auto">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <span class="label label-primary float-right"><%=@especialidad.id%></span>
                    </div>
                    <h5>Especialidad</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= @especialidad.nombre %></h1>
                    <br>
                    <%= link_to "Editar", edit_especialidad_path(@especialidad), class:"btn btn-primary btn-lg btn-block"%>
                </div>
            </div>    
</div>

