<h1>Bienvenido a <strong>Segumiento 2020</strong>,
  <%= @user.nombres %>
</h1>
<p>
  Tu cuenta ha sido creada satisfactoriamente, tu nombre deusario es: <br>
  <%= @user.email %>.<br>
</p>
<p>
  Gracias por hacer parte de la gran familia <strong> Sena </strong> <br> Ten un excelente día
</p>