<h1>Ten un excelente dia,
  <%= @user.nombres %>.
    <h2>Esta es una notificacion de nuevo comentario, creada por <br>
      <%= @comentario.creator.nombres%>
        <%= @comentario.creator.apellidos%>
    </h2>
</h1>
<p>
  un nuevo comentario ha sido creado para la anotacion con Id: <%= @anotacion.id %>
  dentro del sistema de Seguimiento al aprendiz
  favor verificar y tienes oportunidad a traves de la aplicacion, en el boton comentario,
  de realizar tu apresiacion de la situacion, agradecemos tus comentarios.<br>
  <strong>Sí nos comunicamos todos crecemos</strong>.
</p>
<p>
  Gracias por hacer parte de la gran familia <strong> Sena </strong> <br> Ten un excelente día
</p>