<div class="row">
  <div class="col-12 p-0">
    <div class="ibox-content d-flex justify-content-between ">
      <div class="col-md-12 d-flex flex-wrap">
        <h1><strong>Datos especialidad</strong></h1>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <strong>ID Especialidad:</strong>
                <%= @especialidad.id %>
              </td>
              <td>
                <strong>Nombre:</strong>
                <%= @especialidad.nombre %>
              </td>
              <td>
                <strong>Fecha de creacion:</strong>
                <%= @especialidad.created_at.strftime("%F %T") %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>