<tr class="align-middle">
    <td><%= link_to especialidad.id, especialidad_path(especialidad) %></td>
    <td><%= link_to especialidad.nombre, especialidad_path(especialidad) %></td>
    <td><%= l especialidad.created_at, format: :long%></td>
</tr>
