<tr class="align-middle">
    <td><%= link_to especialidad.id, edit_admin_especialidad_path(especialidad) %></td>
    <td><%= link_to especialidad.nombre, edit_admin_especialidad_path(especialidad) %></td>
    <td><%= l especialidad.created_at, format: :long%></td>
    <td>
        <%= link_to "Programas", admin_especialidad_programas_path(especialidad), class:"btn btn-primary btn-lg" %>
    </td>
</tr>