<tr class="align-middle">
    <td><%= link_to especialidad.id, admin_especialidad_path(especialidad) %></td>
    <td><%= link_to especialidad.nombre, admin_especialidad_path(especialidad) %></td>
    <td><%= l especialidad.created_at, format: :long%></td>
</tr>
