<tr class="align-middle">
  <td>
    <%= link_to especialidad.id, admin_especialidad_path(especialidad) %>
  </td>
  <td>
    <%= link_to especialidad.nombre, admin_especialidad_path(especialidad) %>
  </td>
  <td>
    <%= especialidad.created_at.strftime("%F %T") %>
  </td>
  <td class="d-flex justify-content-center">
    <%= link_to "Programas", admin_especialidad_programas_path(especialidad), class:"btn btn-primary btn-block col-4" %>
  </td>
</tr>