<div class = "container">
    <!-- breadcrumbs-->
    <!-- titulo -->
    <h1>Editar especialidad: <strong><%=@especialidad.nombre%></strong></h1>
    <!-- Formulario edit -->
    <%= simple_form_for [:admin, @especialidad] do |f| %>
        <%= f.input :nombre, class: "form-control" %>
        <%= f.button :submit, class: "btn btn-primary" %>    
    <% end %>
</div>

<div class="container">
</div>
