<!-- breadcrumbs -->
<% breadcrumb :ambiente_show, @ambiente%>
<div clas="row">
  <div class="col-12 p-0 mt-3">
    <!--title-->
    <div class="ibox-title">
      <h1 class="pl-4"><strong>Información del ambiente</strong></h1>
    </div>
    <!--Ambiente -->
    <div class="ibox-content">
      <div class="info col-12">
        <div class="card border-secondar">
          <div class="card-header d-flex justify-content-between">
            <div class="card-subtitle">
              <h4>Ambiente ID: <strong><%= @ambiente.id%></strong></h4>
              <h4>Fecha de creacion: <strong><%= @ambiente.created_at.strftime("%F %T")%></strong></h4>
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-subtile">Descripcion:</h4>
            <p class="card-text">
              <%= @ambiente.descripcion%>>
            </p>
          </div>
        </div>
      </div>
      <!--botonera-->
      <div class="row d-flex justify-content-start ml-3 mt-2">
        <%= link_to "volver", ambientes_path, class: "btn btn-block btn-danger bn-lg col-4" %>
      </div>
    </div>
  </div>
</div>