
<div class="ibox-content">
                <table class="table">

                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Descripcion</th>
                    </tr>
                    </thead>

                    <tbody >
                        <tr>
                          <td> <%= @novedad.id %> </td>
                          <td> <%= @novedad.titulo %> </td>
                          <td> <%= @novedad.descripcion %> </td>
                        </tr>
                </table>

</div>

<%= link_to "Editar novedad", edit_novedad_path %>
