<!-- breadcrumbs -->
<% breadcrumb :admin_programa_fichas_edit, @ficha %>

<div class="ibox mt-8 col-md-8 mx-auto">
 <!-- breadcrumbs -->
 <%# breadcrumb :programa_new, @especialidad %>
 <!-- titulo de la seccion-->
 <h1 class="ibox-title font-weight-bold text-center pr-3">Crear nueva Ficha</h1>
 <div class="ibox-content p-3 ">
  <div class="col-12">
   <!-- en que programa va a crear la nueva ficha -->
   <h1>Especialidad: <%= @programa.nombre%></h1>
   <hr>
   <!-- formulario _firm.html.erb -->
   <%= render "form" %>
  </div>
 </div>
</div>