<div class="container">

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Datos del aprendiz</h3>
        <p class="card-text">Aprendiz 1</p>
        <p class="card-text">ADSI</p>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Total novedades</h3>
          <p class="card-text">Usted posee 5 novedades</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Faltas graves</h3>
          <p class="card-text">Usted posee 3 anotaciones por faltas graves</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Ausencia a la formacion</h3>
          <p class="card-text">Usted a fallado 3 dias consecutivos a la formacion</p>
        </div>
      </div>
    </div>
  </div>

</div>