<%= simple_form_for [:admin, @especialidad, @programa] do |f| %>
<%= f.input :nombre %>
<div class="row">
  <!-- botones -->
  <!-- Boton nuevo programa -->
  <div class="col-md-6">
    <%= f.button :submit, class: "btn btn-primary btn-md btn-block mb-3" %>
    <% end %>
  </div>
  <!-- boton volver -->
  <div class="col-md-6">
    <%= link_to "Volver", :back, class: "btn btn-danger btn-md btn-block" %>
  </div>
</div>