<h1>Show delusuario</h1>
<ul>
  <li>Nombre: <%= @user.nombre %> </li>
  <li>Apellido: <%= @user.apellido %> </li>
  <li>Docuemnto: <%= @user.documento %> </li>
</ul>
<%= link_to "Editar", edit_user_path, class:"btn btn-primary" %>
