<div class="mt-3 card-deck d-flex justify-content-between">
  <div class="card col-md-5">
    <img class="card-img-top" src="holder.js/100x180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Menú Especialidades</h4>
      <p class="card-text">
        En esta seccion podrá crear, editar, actualzar y eliminar las
        Especialidades, con sus programas y fichas
      </p>
    </div>
  </div>
  <div class="card col-md-5">
    <img class="card-img-top" src="holder.js/100x180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Menú Tipo documentos</h4>
      <p class="card-text">
        En esta seccion podrá crear, editar, actualzar y eliminar los tipos de
        doumento asociados al sistemas
      </p>
    </div>
  </div>
  <div class="card col-md-5">
    <img class="card-img-top" src="holder.js/100x180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Menú Ambientes</h4>
      <p class="card-text">
        En esta seccion podrá crear, editar, actualzar y eliminar informacion
        sobre los ambientes de formación.
      </p>
    </div>
  </div>
  <div class="card col-md-5">
    <img class="card-img-top" src="holder.js/100x180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Menú Usuarios</h4>
      <p class="card-text">
        En esta seccion podrá editar, actualzar y eliminar la información de los
        usuarios del sistema, asi como sus roles en el mismo.
      </p>
    </div>
  </div>
</div>
