<tr>
  <td class="text-center">
    <%= anotacion.id %>
  </td>
  <td class="text-center">
    <%= anotacion.descripcion %>
  </td>
  <td>
    <!-- <h5 class="btn btn-primary btn-lg btn-block m-0">Comentarios</h5> -->
    <%= link_to "Comentarios", anotacion_comentarios_path(anotacion), class: "btn btn-primary btn-lg btn-block m-0" %>
  </td>
</tr>