<div class="row w-100 bg-white d-flex justify-content-center rounded mx-0 p-3">
  <div class="card border-info mx-sm-1 p-3">
      <div class="card border-info shadow text-info p-3 my-card" ><%= current_user.nombres %> <%= current_user.apellidos %></div>
      <div class="text-info text-center mt-3"><h4>Cantidad de anotaciones</h4></div>
      <div class="text-info text-center mt-2"><h1><%= @anotaciones.count %></h1></div>
  </div>
  <!-- <div class="card border-info mx-sm-1 p-3">
    <div class="text-info text-center mt-3"><h4>Anotaciones Activas</h4></div>
    <div class="text-info text-center mt-2"><h1><%#= @anotaciones.count %></h1></div>
  </div>
  <div class="card border-info mx-sm-1 p-3">
    <div class="text-info text-center mt-3"><h4>Anotaciones Justificadas</h4></div>
    <div class="text-info text-center mt-2"><h1><%#= @anotaciones.count %></h1></div>
  </div> -->
</div>