<div class="ibox-title">
  <h5>Anotaciones</h5>
</div>
<div class="ibox-content">
  <h1 class="no-margins"><%= current_user.anotaciones.count %></h1>
  <small>Total anotaciones</small>
</div>
<div class="card-deck mt-3 d-flex justify-content-between">
  <div class="card col-md-5">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
      <h4 class="card-title">Aprendiz</h4>
      <p class="card-text">En esta seccion podrá crear, editar y comentar las anotacions asociadas a los
        aprendices.</p>
    </div>
  </div>
  <div class="card col-md-5">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
      <h4 class="card-title">Ambientes</h4>
      <p class="card-text">En esta seccion podr reportar novedades sobre los ambientes de formación, adscritos al
        centro.</p>
    </div>
  </div>
</div>