<div class="mt-3 card-deck d-flex justify-content-between">
  <div class="card col-md-5">
    <img class="card-img-top" src="holder.js/100x180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Aprendiz</h4>
      <p class="card-text">
        En esta seccion podrá crear, editar y comentar las anotacions asociadas
        a los aprendices.
      </p>
    </div>
  </div>
  <div class="card col-md-5">
    <img class="card-img-top" src="holder.js/100x180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Ambientes</h4>
      <p class="card-text">
        En esta seccion podr reportar novedades sobre los ambientes de
        formación, adscritos al centro.
      </p>
    </div>
  </div>
</div>
