<!-- breadcrumbs -->
<% breadcrumb :root %>
<!-- ventanas de info para el current user -->
<div class="row d-flex justify-content-space-bettween">
  <div class="w-100">
    <div class="ibox">
      <!-- vista inicio rol aprendiz -->
      <% if current_user.has_role? :aprendiz %>
        <%= render partial: 'aprendiz' %>
      <% end %>
      <!-- vista rol instructor -->
      <% if current_user.has_role? :instructor%>
        <%= render partial: 'instructor'%>
      <% end %>
      <!-- vista rol admin -->
      <% if current_user.has_role? :admin %>
        <%= render partial: 'admin'%>
      <% end %>
    </div>
  </div>
</div>