<div class="row">
  <div class="w-100">
    <div class="card text-left mb-3">
      <h2 class="card-title pl-3">Informacion ambiente</h2>
      <hr class="m-0">
      <div class="card-body pt-2">
        <h4 >Id Ambiente: <%=@ambiente.id%></h4>
        <h4 >Ambiente: <%=@ambiente.nombre%></h4>
        <h4 class="card-text">Ambiente: <%=@ambiente.descripcion%></h4>
      </div>
    </div>
  </div>
</div>