<%= simple_form_for [@ambiente, @anotacion] do |f| %>
<%= f.input :descripcion %>
<!-- Botones volver y nueva anotacion -->
<div class="row d-flex justify-content-between">
 <div class="col-md-3">
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
 </div>
 <div class="col-md-3">
  <%= link_to "Volver", ambiente_anotaciones_path, class: "btn btn-danger btn-block"  %>
 </div>
</div>