<%= simple_form_for [@user, @anotacion] do |f| %>
<%= f.input :descripcion, label:false %>
<!-- Botones volver y nueva anotacion -->
<div class="row d-flex justify-content-between">
  <div class="col-md-3">
    <%= f.button :submit, class: "btn btn-primary btn-block " %>
      <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to "Volver", user_anotaciones_path, class: "btn btn-danger btn-block"  %>
  </div>
</div>