<!-- breadcrumb -->
<% breadcrumb :user_anotacion_edit, @anotacion, @user%>
  <div class="row">
    <div class="w-100">
      <!-- infor aprendiz -->
      <div class="row">
        <%= render partial: 'cabecera' %>
      </div>
      <!-- anotacion -->
      <div clas="row">
        <div class="col-12 p-0 mt-3">
          <!--title-->
          <div class="ibox-title">
            <h1 class="pl-4"><strong>Actualizar anotación.</strong></h1>
          </div>
          <!--Anotacion -->
          <div class="ibox-content">
            <div class="info col-12">
              <div class="card border-secondar">
                  <%= render partial: 'form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>