
 <table class="table table-hover">
                  <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Fecha creación</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render @anotaciones %>

                  </tbody>
              </table>