<%= simple_form_for [@anotacion ,@comentario] do |f| %>
  <%= f.input :comentario, as: :text, label: false %>
  <div class="row d-flex justify-content-between px-3">
    <%= f.button :submit, class: "btn btn-primary btn-block col-4" %>
    <%= link_to "Volver", :back, class: "btn btn-danger btn-block col-4 m-0"%>
  </div>
<% end %>