<!-- breadcrumbs -->
<% breadcrumb :anotacion_comentario_edit, @anotacion, @comentario %>
<!-- infor anotacion -->
<%= render partial: 'cabecera' %>
<div class="row">
  <div class="w-100">
      <!-- listado de los comentarios de la anotacion -->
      <div class="row mt-3">
        <div class="col-12">
          <div class="ibox-content d-flex justify-content-between">
            <div class="col-md-12 d-flex flex-wrap">
              <div class="col-12 p-0">
                <h1>Actualizar comentario</h1>
                <!-- cuerpo comentario -->
                <div class="card border-secondar">
                    <%= render partial: 'form' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>