<!-- breadcrumbs -->
<% breadcrumb :new_anotacion_comentario, @anotacion %>
<!-- infor anotacion -->
<%= render partial: 'cabecera' %>
<div class="row">
  <div class="w-100">
    <!-- listado de los comentarios de la anotacion -->
    <div class="row mt-3">
      <div class="col-12">
        <div class="ibox-content d-flex justify-content-between">
          <div class="col-md-12 d-flex flex-wrap">
            <div class="col-12 p-0">
              <h1>Nuevo comentario</h1>
              <!-- cuerpo comentario -->
              <div class="card border-secondar">
                  <%= render partial: 'form' %>
              </div>
            </div>
            <!-- Botones volver, nuevo comentario. -->
            <div class="w-100 mr-0 d-flex justify-content-between">
              <div class="col-3 pl-0">
                <%#= link_to "Nuevo Comentario", new_anotacion_comentario_path, class: "btn btn-primary btn-block"  %>
              </div>
              <div class="col-3 pr-0">
                <%#= link_to "Volver", users_path, class: "btn btn-danger btn-block"  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>