<tr>
 <td>
  <%= link_to ambiente.id, admin_ambiente_path(ambiente)%>
 </td>
 <td>
  <%= ambiente.nombre %>
 </td>
 <td>
  <%= ambiente.descripcion %>
 </td>
 <td>
  <%= link_to "Editar", edit_admin_ambiente_path(ambiente), class: "btn btn-primary" %>
 </td>
</tr>