<%= simple_form_for @tipodocumento, url: admin_tipo_documentos_path do |f| %>
  <%= f.input :nombre, label:false ,class: "form-control" %>
  <div class="row d-flex justify-content-between px-3">
    <%= f.button :submit, class: "btn btn-primary btn-md btn-block col-4" %>
    <%= link_to "Volver", :back, class: "btn btn-danger btn-md btn-block col-4 m-0" %>
  </div>
<% end %>