<div class="footer">
    <div class="pull-right">
        Version <strong>1.0</strong> Marzo-2019.
    </div>
    <div>
        <strong>Copyright</strong> SENA &copy; 2019-2020
    </div>
</div>
