<div class="footer">
    <div class="pull-right">
        SEGUIMIENTO <strong>SENA</strong> 2020.
    </div>
    <div>
        <strong>Copyright</strong> SENA &copy; 2019-2020
    </div>
</div>
