<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Example user</span>
                        <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="<%= 'active' if current_page?('/novedades') %>">
                <%= link_to novedades_path do %>
                <i class="fa fa-laptop"></i> <span class="nav-label">Mis novedades</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/users') %>">
                <%= link_to users_path do %>
                <i class="fa fa-laptop"></i> <span class="nav-label">Usuarios</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>
