<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="#">

            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-nar" do %>
                    <i class="fa fa-sign-out"></i>Cerrar sesión
                <%end%>
            </li>
        </ul>

    </nav>
</div>
