<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>
  <body class="gray-bg">
    <div class="row">
        <div class="col-md-12">
        <!-- <div class="ibox-content"> -->
          <%=yield%>
        <!-- </div> -->
        </div>
    </div>
  </body>
</html>
